@font-face {
  font-family: 'Poppins-regular';
  src: local('Poppins-Regular'),
       url('../fonts/Poppins-Regular.woff2') format('woff2'),
       url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-semiBold';
  src: local('Poppins-SemiBold'),
       url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
       url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif-Bold';
  src: local('PTSerif-Bold'),
      url('../fonts/PTSerif-Bold.woff2') format('woff2'),
      url('../fonts/PTSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif-Regular';
  src: local('PTSerif-Regular'),
      url('../fonts/PTSerif-Regular.woff2') format('woff2'),
      url('../fonts/PTSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

