.list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 420px;
}

.items {
  flex-basis: 30%;
  margin-block-start: 174px;
}

img:hover {
  overflow-y: hidden;
  max-height: 500px; /* approximate max height */
  transition-property: all; // this dude
  transition-duration: .5s; // this dude
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
