
.list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 420px;
}

.items {
  flex-basis: 30%;
  margin-block-end: 150px;
}

img:hover {
  margin-block-start: 174px;
  transition-property: margin-block-start;
  transition-duration: .5s;
}

figure {
  position: relative;
}

figcaption {
  @include PTSerif-Regular;
  color: dodgerblue;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  left: 102%;
}


@media (min-width: $faux-column-max-width) {
  figcaption {
    font-size: 18px;
  }

}


