@font-face {
  font-family: 'Poppins-regular';
  src: local("Poppins-Regular"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Poppins-semiBold';
  src: local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'PT Serif-Bold';
  src: local("PTSerif-Bold"), url("../fonts/PTSerif-Bold.woff2") format("woff2"), url("../fonts/PTSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'PT Serif-Regular';
  src: local("PTSerif-Regular"), url("../fonts/PTSerif-Regular.woff2") format("woff2"), url("../fonts/PTSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Poppin-regular', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  background: #FAFAFA; }

img {
  width: 100%; }

li {
  list-style: none; }

figure {
  margin: 0; }

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

@media (min-width: 750px) {
  header {
    width: 60%; }
  .description-wrapper {
    width: 40%; } }

@media (min-width: 1000px) {
  .container {
    max-width: 800px;
    margin-inline-start: auto;
    margin-inline-end: auto; } }

.heading1 {
  font-family: 'PT Serif-Bold', Helvetica, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em; }

.heading2,
.name {
  font-family: 'Poppins-semiBold', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase; }

.list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 420px; }

.items {
  flex-basis: 30%;
  margin-block-end: 150px; }

img:hover {
  margin-block-start: 174px;
  transition-property: margin-block-start;
  transition-duration: .5s; }

figure {
  position: relative; }

figcaption {
  font-family: 'PT Serif-Regular', Helvetica, sans-serif;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  left: 100%; }

@media (min-width: 1000px) {
  figcaption {
    font-size: 12px; } }
